@charset "utf-8";

body{
    background-color: #eae8fe;
}

.img-item{
    display: block;
}

#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    margin: 247px 0 50px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#app .tit-logo{
    position: fixed;
    top: 0;
    background-image: url(images/logo.png);
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} 

#app .vending-machine, #app .my-info{
    width: 360px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}

#app .vending-machine{
    padding: 31px 27px 38px;
}

.vending-machine .list-cola{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
    
.vending-machine .list-cola li{
    position: relative;
    width: 94px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}

.vending-machine .list-cola li:hover{
    outline: #6327FE 3px solid;
    cursor: pointer;
}

.list-cola li .btn-cola {
    padding: 11px 0 9px;
}

.list-cola li .img-cola{
    width: 35px;
}

.list-cola li .tit-cola{
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    margin: 6px 10px 7px;

}

.list-cola li .txt-price{
    display: inline-block;
    padding: 5px 16px;
    background-color: #6327FE;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    box-sizing: border-box;
}

/*sold-out*/
.vending-machine .list-cola li.sold-out::after{
    content: '';
    display: block;
    top:0;
    left: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background:no-repeat center/ 95px 130px url('images/Sold-out.png');
}

.vending-machine .list-cola li.sold-out:hover{
    cursor: none;
    outline: none;
}

.vending-machine .list-cola li.sold-out::after{
    content: '품절';
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}