@charset "utf-8";

body{

    background-color: #eae8fe;
}



#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    margin: 247px 0 50px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#app .tit-logo{
    top: 0;
    background-image: url(images/logo.png);
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} 

#app .vending-machine, #app .my-info{
    width: 360px;
    background-color: white;
    box-sizing: border-box;
    /*position: relative;*/
}

#app .vending-machine{
    padding: 31px 27px 28px;
}

.vending-machine .list-cola{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
    
.vending-machine .list-cola li{
    width: 94px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}

.vending-machine .list-cola li:hover{
    outline: #6327FE 3px solid;
    cursor: pointer;
}

.list-cola li .btn-cola {
    padding: 11px 0 9px;
}

.list-cola li .img-cola{
    width: 35px;
}

.list-cola li .tit-cola{
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    margin: 6px 10px 7px;

}

.list-cola li .txt-price{
    display: inline-block;
    padding: 5px 16px;
    background-color: #6327FE;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    box-sizing: border-box;
}

/*sold-out*/
.vending-machine .list-cola li.sold-out{
    position: relative;
}

.vending-machine .list-cola li:hover{
    pointer-events: none;
    outline: none;
}

.vending-machine .list-cola li.sold-out::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background:no-repeat center/ 95px 130px url('images/Sold-out.png');
}


.vending-machine .list-cola li.sold-out::after{
    content: '품절';
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}


/*계산하기*/
.cont-counter{
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    margin-top: 20px;
    padding: 6px 0px ;
    overflow: hidden;
}

.cont-counter .info-balance{
    display: block;
    width: 180px;
    padding: 0 10px;
    background-color: #EAE8FE;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    vertical-align:middle;
    border-radius: 5px;
}

.cont-counter .info-balance .num-balance{
    float: right;
}


.cont-counter .btn-return{
    width: 94px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-left: 12px;
}

.cont-counter .deposit-money{
    display: block;
    width: 180px;
    margin-top: 10px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}

.cont-counter .btn-deposit{
    width: 94px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    margin: 11px 0 0 10px;
}

.cont-shoppingList{
    display: block;
    width: 200px;
    margin-top: 11px;
    overflow-y: scroll;
    background-color:#eae8fe;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.cont-shoppingList .shoppingList-cola{
    padding: 12px 16px 0 12px; 
}

.cont-shoppingList .shoppingList-cola li{
    background-color: white;
    padding: 6px 0 ;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
}

.cont-shoppingList .shoppingList-cola li+li{
    margin-top: 6px;
}

.cont-shoppingList .shoppingList-cola .img-shoppingList{
    float: left;
    width: 18px;
    margin-left: 10px;
}

.cont-shoppingList .shoppingList-cola .tit-shoppingList{
    float: left;
    margin-left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    vertical-align: middle;
}

.cont-shoppingList .shoppingList-cola .shoppingList-count{
    float: right;
    padding: 6px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}

.btn-get{
    display: block;
    width: 94px;
    margin: 12px 0 0 12px;
    color: white;
    border-radius: 5px;
    background-color: #6327FE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

}

.info-buy{
    width: 360px;
}
.info-buy .info-myMoney{
    width: 100%;
    padding: 9px 27px;
    margin-bottom: 20px;
    background-color: white;
}

.info-myMoney .box-myMoney{
    display: block;
    padding: 6px 249px  10px  6px;
    border-radius: 5px;
    background-color: #eae8fe;
}


.box-myMoney .num-myMoney{
    float: right;
}

.info-buy .info-gain{
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}