@charset "utf-8";

body{
    background-color: #eae8fe;
}

.img-item{
    display: block;
}

#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    margin: 247px 0 50px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#app .tit-logo{
    position: fixed;
    top: 0;
    background-image: url(images/logo.png);
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} 

#app .vending-machine{
    fl
}
    
